<section id="banner" *ngIf="! auth.logIn() " class="h-75">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 ">
        <div class=" main-head ">
          <p class="promo-title  " style="line-height: normal;">Anytime,anywhere Develop your skill by Online
          </p>
        </div>
        <div class="promo-desp">
          <p>

            We are providing your course to success.Build skills with courses, certificates online.Take the next step
            toward your personal and professional goals with EduCloud.Earn industry-recognized credentials.Master
            skills
            with in-depth learning and understanding with proper mentoring.</p>
          <br>
        </div>
        <div class="header-buttons ">
          <a href="/login-user">Student</a>
          <a href="/login-prof">Professor</a>
        </div>
      </div>
      <div class="col-md-6 ">
        <img src="assets/main.png" class="ml-5 mt-2" width="90%" height="70%" alt="" style="padding-top: 1%;">
      </div>

      <!-- <div class="col-md-6 text-center">
        <img src="assets/png/1.png.svg" class="img-fluid" fxHide.sm fxHide.xs>
      </div> -->
    </div>

  </div>
</section>

<section *ngIf="! auth.logIn() ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="square">
          <div class="square1">
            <div class="circle">1
            </div>
            <span>Create Account</span>
          </div>
          <div class="square2">
            <div class="circle">2</div>
            <span>Find Courses</span>
          </div>
          <div class="square3">
            <div class="circle">3</div>
            <span>Book Seat</span>
          </div>
          <div class="square4">
            <div class="circle " style="background-color: #ffffff; color: #242323;">4</div>
            <span>Get Started</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content" >
          <h1>Get Started in 4 Easy Steps</h1>
          <p class="pr-5 mr-5">Proper and good education is very important for all of us. It facilitates quality learning all through the life among people of any age group, cast, creed, religion and region.
            <br><br><br>
            It is the process of achieving knowledge, values, skills, beliefs, and moral habits.Education is the process of facilitating learning, or the acquisiof knowledge, skills, values.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <img src="assets/png/wave5.png" class="bottom-img" *ngIf="! auth.logIn()"> -->

<div class="container mt-5" *ngIf="auth.logIn() && courses.length == 0">
  <mat-card class="text-center nocard" *ngIf="auth.logIn() && courses.length == 0">Not Added Any courses</mat-card>
</div>

<section id="courses " style="margin-top: 11em;">
  <div class="container">
    <div class="text-center" *ngIf="! auth.logIn()">
      <h1 class="title" *ngIf="courses.length != 0">Our Popular Courses</h1>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-7 col-md-6 my-row" *ngFor='let course of courses'>

        <!-- <div class="image">
             <img src="{{course.image}}" alt="" height="200px" width="300px" (click)="detailsCourse(course)">
             <div class="video-bottom-section">
              <div class="video-details">
                <h2  class="video-title">{{course.name}}</h2>
              </div>
            </div>
          </div> -->

        <mat-card class="example-card">
          <img src="{{course.image}}" alt="" height="100%" width="100%" (click)="detailsCourse(course)">
          <mat-card-content>
            <h2 class="text-center">{{course.name}}</h2>
          </mat-card-content>
        </mat-card>

      </div>
    </div>

  </div>
</section>

<section class="section3" *ngIf="! auth.logIn()" id="chose">
  <div class="container">
    <div class="text-center">
      <h1 class="title">WHY US?</h1>
    </div>
    <div class="row">

      <div class="col-lg-4 col-md-4 col-12 section3con">
        <i class="fa-3x fas fa-desktop"></i>
        <h2>ONLINE FREE COURSES</h2>
        <p>We are providing number of courses free of charge for registered students.Which will help you to enrich your
          skills in an efficient way.</p>
      </div>

      <div class="col-lg-4 col-md-4 col-12 section3con">
        <i class="fa-3x fas fa-graduation-cap"></i>
        <h2>CERTIFICATE</h2>
        <p>Providing certificates after the completion of courses with the monitoring of teachers.Which are definitly
          going to strengthen your resume.</p>
      </div>

      <div class="col-lg-4 col-md-4 col-12 section3con">
        <i class="fa-3x fas fa-coins"></i>
        <h2>Affordable Fee Structure</h2>
        <p>We are providing the best courses with affordable fee structure.One-stop shop for Students, Unemployed and
          Working professionals.</p>
      </div>

    </div>
  </div>
</section>